body {
  margin: 0 auto;
  max-width: 1200px;
  /* text-align: center; */
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
}
