<title>Uriel's To Do List</title>

@{
  Layout = "_Layout";
}

<h1>Uriel's To Do List!</h1>
<hr />
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
<br>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
