<title>To Do List</title>

@{
  Layout = "_Layout";
}

<h1>Welcome to The To Do List!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
