<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Items</title>
  </head>
  <body>
    <h1>Items List</h1>

    <form action="/items" method="post">

      <label for="item">Add a new item</label>
      <input id="item" name="item" type="text">
      
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
