@using ToDoList.Models ;
<h1>Items List</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have nothing to do in your list!</p>
}
@if(@Model.Count != 0)
{
  @foreach (Item item in Model)
{
  <li>@item.GetDescription()  </li>
}
}


</ul>L
<a href="/items/new">Add a new item.</a>

