<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello!</title>
  </head>
  <body>
    <h1>Add a new item to @Model.Name</h1>
    <form action="/categories/@Model.Id/items" method="post">
      <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
      <label for="itemDescription">Item Description</label>
      <input id="itemDescription" name="itemDescription" type="text">
      <button type='submit'>Add Item</button>
    </form>
  </body>
</html>