@{
  Layout = "_Layout";
}

@model List<ToDoList.Models.Category>;

<h2>Are you sure you want to delete all categories?</h2>
<br>

@using (Html.BeginForm())
{
    <input type="submit" value="DeleteAll" />
}

<br>
<br>
@Html.ActionLink("Back to categories", "Index")
